[Unit]
Description=Docker Compose Opt Service
Requires=docker.service
After=docker.service

[Service]
User=pi
Group=pi
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/lib/docker/data
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose stop
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
