[Unit]
Description=IPTables Rules
Before=networking.target

[Service]
Type=oneshot
ExecStart=/opt/bpi-r2-router-builder/helpers/firewall.sh

[Install]
WantedBy=multi-user.target
