[Unit]
Description=UPnP Internet Gateway Device Daemon
Documentation=man:miniupnpd(8)
After=network-online.target sys-subsystem-net-devices-wan.device
BindsTo=sys-subsystem-net-devices-wan.device

[Service]
Type=forking
ExecStartPre=/opt/bpi-r2-router-builder/helpers/miniupnpd-helper.sh start
ExecStart=/usr/sbin/miniupnpd -f /etc/miniupnpd/miniupnpd.conf
PrivateTmp=yes
PIDFile=/run/miniupnpd.pid

[Install]
WantedBy=multi-user.target