[Unit]
Description=Onboard Wifi
Before=networking.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/wifi.sh

[Install]
WantedBy=multi-user.target
