[Unit]
Description=Onboard Wifi
After=networking.target

[Service]
Type=oneshot
ExecStart=/opt/bpi-r2-router-builder/helpers/onboard-wifi.sh

[Install]
WantedBy=multi-user.target
