[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=vpn
Group=vpn
Type=simple
ExecStartPre=/opt/bpi-r2-router-builder/helpers/transmission-helper.sh start
ExecStart=/usr/bin/transmission-daemon -f --log-error -g /etc/transmission-daemon
ExecStop=/bin/kill -s STOP $MAINPID
ExecStopPost=/opt/bpi-r2-router-builder/helpers/transmission-helper.sh stop 
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
