[Unit]
Description=Docker Compose Service for %i
ConditionFileNotEmpty=/etc/docker/compose.d/%i.yaml
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/opt/bpi-r2-router-builder/helpers/compose-helper.sh %i 
ExecStart=/usr/local/bin/docker compose -f /etc/docker/compose.d/%i.yaml up -d
ExecStop=/usr/local/bin/docker compose -f /etc/docker/compose.d/$i.yaml down

[Install]
WantedBy=multi-user.target
