[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/bpi-r2-router-builder/helpers/usb-helper.sh start %i
ExecStop=/opt/bpi-r2-router-builder/helpers/usb-helper.sh stop %i
